.catalog {
  overflow-x: scroll;
  scrollbar-color: #cccccc #ffffff; /* «цвет ползунка» «цвет полосы скроллбара» */
  scrollbar-width: thin;

  /* полоса прокрутки (скроллбар) */
  &::-webkit-scrollbar {
    height: 4px;
    background-color: #ffffff;
  }

  /* ползунок скроллбара */
  &::-webkit-scrollbar-thumb {
    background-color: #cccccc;
  }

  &__row {
    @include row-flex();
    flex-wrap: nowrap;
    // justify-content: space-between;
    margin-right: -10px;
    margin-left: -10px;
  }

  &__col {
    @include col();
    @include size(1.25);

    width: 100px;
    height: 160px;

    margin-right: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
  }
}
