.main-section {
  padding: 23px 0;

  &__row {
    @include row-flex();
    flex-wrap: nowrap;
    min-height: 100%;

    @include md-block() {
      flex-wrap: wrap;
      justify-content: space-around;
      order: 2;
    }

    @include xs-block() {
      text-align: center;
    }
  }

  &__left-col,
  &__right-col {
    @include col();
  }

  &__left-col {
    @include size(9.56);
    

    @include md-block() {
      order: 2;
      width: 100%;
      margin-top: 24px;
    }
  }

  &__right-col {
    position: sticky;
    top: 130px;
    min-width: 330px;
    height: 100%;
    @include size(2.44);
    background: #f8f9fc;
    
    @include md-block() {
      position: static;
      z-index: 200;
      order: 1;
      width: 100%;
      padding-top: 24px;
    }
  }

  &__base-title {
    margin-bottom: 20px;
  }

  &__product-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -6px;
    margin-left: -6px;
    padding-bottom: 12px;

    @include md-block() {
    justify-content: center;
    }
  }

  &__product-item {
    margin-right: 6px;
    margin-bottom: 12px;
    margin-left: 6px;
  }

  &__card-wrapper {
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: -10px -10px 10px #ffffff, 10px 10px 10px rgba(0, 0, 0, 0.05);
  }
}
