.header {
  position: sticky;
  top: 0;
  z-index: 2000;
  font-weight: 600;
  background: #f8f9fc;
  
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    padding: 22px 0 18px 0;
    border-bottom: 2px solid rgba($color: #000000, $alpha: 0.05);
  }

  &__second-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex-grow: 0;
    
    @media screen and (max-width: 1751px) {
      & {
        justify-content: space-between;
        width: 100%;
        margin-top: 40px;
      }
    }


    @include md-block() {
      margin-top: 20px;
    }

    @include sm-block() {
      justify-content: space-between;
    }
  }

  &__logo {
    width: 225px;
    height: 80px;

    @include md-block() {
      width: 188px;
    }

    img {
      width: inherit;
      height: inherit;
    }
  }


  &__phone {
    margin-right: 41px;
    font-size: 16px;

    a {
      position: relative;
      padding-left: 66px;
      transition: $base-transition;

      &::before {
        content: "";
        position: absolute;
        top: calc(50% - 25px);
        left: 0;
        display: inline-block;
        width: 50px;
        height: 50px;
        background-color: #e31e24;
        background-image: url("../img/svg/phone.svg");
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 50%;
        transition: $base-transition;
      }

      &:hover {
        color: #e31e24;
      }

      &:hover::before {
        transform: translateY(-2px);
      }
    }


    @include sm-block() {
      margin-right: 0;
    }
  }

  &__search {
    margin-right: 92px;
    @media screen and (max-width: 1751px) {
      & {     
        flex-grow: 1;
        max-width: auto;
      }
    }

    @include sm-block() {
      display: none;
      margin-right: 0;
    }
  }

  &__lang,
  &__login {
    width: 50px;
    height: 50px;
    background-color: #e31e24;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    transition: $base-transition;
    cursor: pointer;

    &:hover {
      transform: translateY(-2px);
    }

  }

  &__lang {
    margin-right: 29px;
    font-weight: bold;
    font-size: 14px;
    line-height: 48px;
    text-align: center;
    color: #ffffff;

  @include sm-block() {
    margin-right: 0;
  }
  }

  &__login {
    background-image: url("../img/svg/people.svg");
  }

}
